<section class="hero-section">
    <video autoplay muted loop class="hero-video">
      <source src="images/portfolio/video2.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
    <div class="hero-content">
      <div class="hero-left" #heroLeft>
        <h1>Svetlana Shmeleva</h1>
        <p>Full Stack Web & Application Development</p>
        <p>Algorithm Design & Engineering Software</p>
        <p>Finite Element Method (FEM) Simulation & Analysis</p>
        <p>Strong background in physics, innovative & reliable solutions</p>
      </div>
      <div class="hero-right">
        <img src="images/portfolio/Photo_profile.png" alt="Svetlana Shmeleva" />
      </div>
    </div>
</section>

  <section class="experience-section" >
  <h2>Professional Experience</h2>

  <div class="experience-entry" #experienceEntry>
    <h3>Full Stack Developer</h3>
    <div class="experience-meta ">
        <span>
            <img src="images/logos/codefactory.png" alt="CodeFactory Logo" class="company-logo" />
            CodeFactory, Vienna, Austria
        </span>
        <span>December 2024 – May 2025</span>
    </div>
    <p class="experience-summary">Training Hub, Coding Academy, Tech Bootcamp</p>
    <ul>
      <li>Development of web applications using PHP, Symfony, and JavaScript with frontend-backend integration</li>
      <li>Database management and query optimization using MySQL and PostgreSQL</li>
      <li>UI/UX development with Angular for responsive, user-friendly interfaces</li>
      <li>Implementation of REST APIs for frontend-backend data exchange</li>
      <li>Deployment pipeline configuration using Git and AWS LightSail</li>
      <li>Led a full-cycle project from architecture to deployment as team lead, ensuring delivery ahead of schedule</li>
      <li>Graduated from the program with the highest distinction (top score in cohort)</li>
    </ul>
  </div>

  <div class="experience-entry" #experienceEntry>
    <h3>Development/Simulation Engineer</h3>
    <div class="experience-meta">
        <span>
            <img src="images/logos/epitome.png" alt="Epitome Logo" class="company-logo" style="filter: invert(100%);" />
            Epitome GmbH, Vienna, Austria
        </span>
        <span>September 2018 – August 2024</span>
    </div>
    <p class="experience-summary">Startup in medical technology (2 employees in 2018 → 170 in 2024)</p>
    <ul>
      <li>R&D of AI-powered dental diagnostics device (concept, prototyping, industrialization)</li>
      <li>Work in a cross-functional team of front-end, back-end developers, embedded software engineers</li>
      <li>Algorithm development for FEM analysis in CFD, structural mechanics, and heat transfer (Python, MATLAB, Ansys, Comsol)</li>
      <li>Optimization of contact simulations and convergence stability</li>
      <li>Development of custom GUIs for FEM simulation tools, enabling intuitive setup, execution, and analysis of complex engineering models</li>
      <li>Reduction of vibration (30%) and weight (20%) through geometry and material optimization</li>
      <li>Pressure distribution optimization (80% uniformity) for cleaning jet system</li>
      <li>Ultrasound transducer development and testing for cavitation cleaning</li>
    </ul>
  </div>

  <div class="experience-entry" #experienceEntry>
    <h3>Acoustic Engineer</h3>
    <div class="experience-meta">
        <span>
            <img src="images/logos/ge.svg" alt="GE Healthcare Logo" class="company-logo" />
            GE Healthcare, Zipf, Austria
        </span>
      <span>May 2017 – July 2018</span>
    </div>
    <p class="experience-summary">Global leader in precision medical imaging and healthcare</p>
    <ul>
      <li>Development of acoustic power control software (C++)</li>
      <li>Optimization of ultrasound probe designs using C++ algorithms</li>
      <li>Investigation of piezoelectric polarization to improve ultrasound image quality</li>
      <li>Modeling of ultrasound fields and temperature prediction (MATLAB)</li>
    </ul>
  </div>
</section>

<section class="skills-section">
  <h2>Skills</h2>

  <div class="skills-category">
    <h3>Programming & Tools</h3>
    <ul>
      <li>JavaScript</li>
      <li>TypeScript</li>
      <li>C++</li>
      <li>Python</li>
      <li>R</li>
      <li>PHP</li>
      <li>Node.js</li>
      <li>MySQL</li>
      <li>PostgreSQL</li>
      <li>MongoDB</li>
      <li>API</li>
      <li>Docker</li>
      <li>AWS</li>
      <li>CI/CD</li>
      <li>Git</li>
      <li>HTML</li>
      <li>CSS</li>
      <li>Angular</li>
      <li>React</li>
    </ul>
  </div>

  <div class="skills-category">
    <h3>Development</h3>
    <ul>
      <li>Agile</li>
      <li>Scrum</li>
      <li>Cross-functional team collaboration</li>
      <li>Jira</li>
      <li>Confluence</li>
    </ul>
  </div>

  <div class="skills-category">
    <h3>UI/UX & Graphics</h3>
    <ul>
      <li>Adobe Photoshop</li>
      <li>Figma</li>
      <li>Sketch</li>
      <li>Bootstrap</li>
    </ul>
  </div>

  <div class="skills-category">
    <h3>CAD & Simulation</h3>
    <ul>
      <li>SolidWorks</li>
      <li>Fusion 360</li>
      <li>AutoCAD</li>
      <li>Comsol Multiphysics</li>
      <li>MATLAB</li>
      <li>ANSYS</li>
      <li>PTC Creo</li>
    </ul>
  </div>

  <div class="skills-category">
    <h3>Languages</h3>
    <ul>
      <li>English (C2)</li>
      <li>Russian (C2)</li>
      <li>German (B2)</li>
    </ul>
  </div>

  <div class="skills-category">
    <h3>Soft Skills</h3>
    <ul>
      <li>Highly motivated</li>
      <li>Analytical thinker</li>
      <li>Continuous learner</li>
      <li>Effective team collaborator</li>
      <li>Skilled Presenter</li>
      <li>Proactive Contributor</li>
    </ul>
  </div>
</section>
